* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: 'Playpen Sans', cursive;
  overflow-x: hidden;
}

body {
  background-image: url(images/new.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* primary header */

.Logo {
  scale: 0.7;
}

.primary-header {
  /* border: 2px solid black; */
  align-items: center;
  justify-content: space-between;
  margin: 0 60px;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  text-transform: uppercase;
  font-size: 1.1rem;
  list-style: none;
  padding: 0;
  margin: 0 0px;
}

.primary-navigation a {
  margin: 0 0px;
  text-decoration: none;
  color: white;
}

.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .5em;
}

/* Mid styling */

.container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.container div {
  margin: 20px;
}

.quotation {
  color: white;
}

.gallery-description {
  flex-basis: 950px;
  align-items: flex-end;
  display: flex;
  align-items: flex-end;
}

.gallery-description p {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.galleryBtn {
  transition: .2s ease-in-out;
}

.galleryBtn:hover {
  transition: .2s ease-in-out;
  scale: 1.05;
}

.galleryBtn a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 10px 40px;
  border: 1px solid pink;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 35em) {

  .Logo {
    scale: 0.5;
  }

  .quotation {
    font-size: 0.82rem;
  }

  .gallery-description p {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .galleryBtn a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    padding: 10px 40px;
    border: 1px solid pink;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .primary-header {
    margin: 0 0;
  }

  .primary-navigation {
    background: rgba(233, 189, 189, 0.95);
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    gap: 30px;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    background: transparent;
    display: block;
    position: absolute;
    z-index: 9999;
    border: 1px solid white;
    border-radius: 1px;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
  
  .hamburger {
    fill: white;
    padding: 2px;
  }

  /* .mobile-nav-toggle .line {
    transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;
  }

  .mobile-nav-toggle:hover .line {
    transition: 
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
    transform-origin: center;
  } */

  .mobile-nav-toggle .line {
    transition: .7s;
    transform-origin: center;
  }

  .mobile-nav-toggle:hover :is(.top, .bot) {
    y: 45px;
  }

  .mobile-nav-toggle:hover .top {
    transform: rotate(45deg);
  }

  .mobile-nav-toggle:hover .mid {
    opacity: 0;
  }

  .mobile-nav-toggle:hover .bot {
    transform: rotate(-45deg);
  }

}


